# MariaDB Configuration
MARIADB_ROOT_PASSWORD=your_root_password
MARIADB_DATABASE=urlsDb
MARIADB_USER=user
MARIADB_PASSWORD=your_password

# Application Configuration
CONNECTION_STRING=server=db;database=urlsDb;user=user;password=your_password;
